.login-page {
   margin: 0;
   padding: 0;
   height: 100vh;
   background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.login-page img {
   width: 200px;
}

.login-btns {
   width: 100%;
   max-width: 400px;
}
